# Emacs backups
*~

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Libtool
.deps
.libs

# Autoheader
/src/config/config.hxx
/src/config/config.hxx.in
/src/config/stamp-h1

# Automake
Makefile
Makefile.in

# Autoconf
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/libltdl
/libtool
